.hottie-container {
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.hottie {
    display: flex;
    width: 100vw;
    margin: auto;
    margin-top: 0;
    flex-direction: column;
    text-align: center;
    padding-bottom: 5%;
}

.hottie img {
    width: 50%;
    float: left;
    margin: auto;
}

.details {
    width: 100%;
    margin: auto;
    font-family: Quicksand;
    font-size: 5vw;
}

.details h2 {
    font-size: 7vw;
    font-family: OleoScript;
}

.details h2 a {
    color: white;
    text-decoration: none;
}

.eboard {
    color: rgb(232, 56, 43);
    font-weight: bold;
}

@media screen and (min-width: 600px) {
    .hottie {
        width: 50%;
    }
    .hottie img {
        width: 75%;
    }

    .details {
        font-size: 3vw;
    }

    .details h2 {
        font-size: 4vw;
    }
}

@media screen and (min-width: 1024px) {
    .hottie {
        width: 33%;
    }
    .hottie img {
        width: 50%;
    }

    .details {
        font-size: 2vw;
    }

    .details h2 {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 1366px) {
    .hottie {
        width: 25%;
    }
    .hottie img {
        width: 70%;
    }

    .details {
        font-size: 1.5vw;
    }

    .details h2 {
        font-size: 2vw;
    }
}