@font-face {
    font-family: OleoScript;
    src: url(../Fonts/Oleo_Script/OleoScript-Regular.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(../Fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

nav {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(120, 89, 102);
    text-align: right;
    position: sticky;
    font-family: Quicksand;
}

nav .slihText {
    display: block;
    color: rgb(243, 212, 224);
    float: left;
    padding: 14px;
    text-decoration: none;
}

nav img {
    width: 48px;
    float: left;
    opacity: initial;
}

@media screen and (max-width: 1095px) {
    nav a {
        display: none;
    }

    nav a.icon {
      float: left;
      display: block;
      color: white;
      height: 48px;
      width: 48px;
    }

    nav a.icon i.fa.fa-bars {
        position: relative;
        left: -16px;
        bottom: -16px;
    }

    nav li:hover {
        background-color: rgb(120, 89, 102);
    }

    nav.responsive ul a {
        display: block;
        text-align: left;
    }

    nav.responsive li {
        display: block;
        text-align: left;
    }

    nav.responsive li:hover {
        background-color: rgb(84, 63, 71);;
    }

    nav.responsive ul {
        float: left;
        position: relative;
        left: -243px;
        top: 48px;
        padding: 0px;
    }
}

@media screen and (max-width: 800px) {
    body .slider {
        width: 100vw;
        height: 69vw;
    }

    body .slide {
        width: 100vw;
        height: 69vw;
    }

    body .image-container {
        width: 900vw;
        background-color: pink;
        height: 69vw;
        clear: both;
        position: relative;
        -webkit-transition: left 2s;
        -moz-transition: left 2s;
        -o-transition: left 2s;
        transition: left 2s;
    }
    

    body #slide-1:target ~ .image-container {
        left: 0px;
    }
    
    body #slide-2:target ~ .image-container {
        left: -100vw;
    }
    
    body #slide-3:target ~ .image-container {
        left: -200vw;
    }
    
    body #slide-4:target ~ .image-container {
        left: -300vw;
    }
    
    body #slide-5:target ~ .image-container {
        left: -400vw;
    }
    
    body #slide-6:target ~ .image-container {
        left: -500vw;
    }
    
    body #slide-7:target ~ .image-container {
        left: -600vw;
    }
    
    body #slide-8:target ~ .image-container {
        left: -700vw;
    }
    
    body #slide-9:target ~ .image-container {
        left: -800vw;
    }
}

@media screen and (max-width: 438px) {
    body .buttons {
        width: 85vw;
        height: 7vw;
    }

    body .buttons a {
        font-size: 6vw;
        margin: 0;
        
    }
}

@media screen and (max-width: 392px) {
    nav.responsive ul {
        float: left;
        position: relative;
        left: 0px;
        top: 0px;
        padding: 0px;
    }
}

footer {
    background-color: rgb(120, 89, 102);
    font-family: Quicksand;
    margin-top: auto;
    color: white;
    text-decoration: none;
    text-align: center;
    color: rgb(243, 212, 224);
}
footer p {
    margin: 0;
    padding: 20px;
}

footer a {
    color: rgb(243, 212, 224)
}

body {
    background-color: rgb(237, 143, 180);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ul {
    display: block;
    margin: 0;
    float: right;
}

li {
    display: inline-block;
    padding: 14px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

li a {
    color: rgb(243, 212, 224);
    text-decoration: none;
}

li:hover {
    background-color: rgb(84, 63, 71);
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.icon {
    display: none;
}

.header {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: white;
    font-family: OleoScript;
    text-shadow: 1px 1px 2px #111;
    background-image: url(../Images/header.jpg);
    background-size: cover;
    background-position: center;
}

.slider {
    width: 800px;
    height: 550px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    overflow: hidden;
}

.image-container {
    width: 7200px;
    background-color: pink;
    height: 550px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 800px;
    height: 550px;
}

#slide-1:target ~ .image-container {
    left: 0px;
}

#slide-2:target ~ .image-container {
    left: -800px;
}

#slide-3:target ~ .image-container {
    left: -1600px;
}

#slide-4:target ~ .image-container {
    left: -2400px;
}

#slide-5:target ~ .image-container {
    left: -3200px;
}

#slide-6:target ~ .image-container {
    left: -4000px;
}

#slide-7:target ~ .image-container {
    left: -4800px;
}

#slide-8:target ~ .image-container {
    left: -5600px;
}

#slide-9:target ~ .image-container {
    left: -6400px;
}

.buttons {
    position: relative;
    text-align: center;
    margin: 10px;
    background-color: rgb(234, 101, 140);
    width: max-content;
    align-self: center;
    border-radius: 25px;
}

.buttons a {
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    font-size: 25px;
    color: white;
    margin: 10px;
    text-decoration: none;
}