h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 0 0.5em 0;
    padding: 0;
    color:white;
    font-family: Quicksand;
    text-align: center;
    margin: 20px;
}

.events {
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
}

.item {
    display: flex;
    width: 100vw;
    margin: 5px;
    padding: 5px;
    background-color: rgb(237, 143, 180);
    color: rgb(120, 89, 102);
    font-family: Quicksand;
    text-align: center;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item .details {
    background-color: rgb(237, 143, 180);
    color: rgb(120, 89, 102);
    font-family: Quicksand;
    text-align: center;
    text-decoration: none;
    flex-direction: row;
    padding: 5px;
}

.details p {
    font-size: 4vw;
}

.details h2 {
    font-size: 5vw;
    margin: 0;
    padding: 0;
}

.item img {
    width: 60vw;
    float: left;
    scale: 0.8;
}

@media screen and (min-width: 600px) {
    body .events {
        flex-wrap: wrap;
    }

    body .item {
        flex-direction: row;
    }

    body .item .details p {
        font-size: 3vw;
    }

    body .item h2 {
        font-size: 4vw;
    }

    .item img {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    body .item {
        width: 48%;
    }

    body .item .details p {
        font-size: 1.8vw;
    }

    body .item h2 {
        font-size: 2.8vw;
    }
    body .item img {
        width: 50%;
    }
}

@media screen and (min-width: 1366px) {
    body .item .details p {
        font-size: 1.4vw;
    }

    body .item h2 {
        font-size: 2.4vw;
    }
}