.currentrep {
    display: flex;
    flex-wrap: wrap;
}

.song {
    width: 90vw;
    padding: 3vw;
    border-radius: 10%;
}

.pastrep {
    text-align: center;
    color: white;
    font-family: Quicksand;
    max-width: 100%;
    line-break: auto;
}

@media screen and (min-width: 600px) {
    .song {
        width: 42.5vw;
        border-radius: 15%;
    }
}

@media screen and (min-width: 1024px) {
    .song {
        width: 26.7vw;
        border-radius: 20%;
    }
}
    
@media screen and (min-width: 1366px) {
    .song {
        width: 18.5vw;
        padding: 3vw;
        border-radius: 20%;
    }
}